@import "~bootstrap/scss/bootstrap-reboot";
//@import "~bootstrap/scss/bootstrap-grid";

@import "variables";

$theme-colors: (
        "debug": $red,
        "primary": $color-primary,
        "secondary": $color-secondary,
        "success": $color-success,
        "info": $color-info,
        "warning": $color-warning,
        "danger": $color-danger,
        "light": $color-light,
        "dark": $color-dark,
        "background": $color-background,
        "foreground": $color-foreground
);

@import './layout/header';
@import './layout/footer';

//@import './components/component1';

body {
    background-color: map-get($theme-colors, "background");
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: $font-size-base;
    color: map-get($theme-colors, "foreground");
}

h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Roboto Condensed', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.square{
    width: 50px;
    height: 50px;
    background-color: map-get($theme-colors, "danger");
    display: inline-block;

    &.primary{
        background-color: map-get($theme-colors, 'primary');
        &.lighten{
            background-color: color-lighten(map-get($theme-colors, 'primary'));
        }
        &.darken{
            background-color: color-darken(map-get($theme-colors, 'primary'));
        }
        &.complementary{
            background-color: color-complement(map-get($theme-colors, 'primary'));
        }
        &.triad-1{
            background-color: color-triad-1(map-get($theme-colors, 'primary'));
        }
        &.triad-2{
            background-color: color-triad-2(map-get($theme-colors, 'primary'));
        }
    }

    &.skobeloff{
        background-color: $color-skobeloff;
        &.lighten{
            background-color: color-lighten($color-skobeloff);
        }
        &.darken{
            background-color: color-darken($color-skobeloff);
        }
        &.complementary{
            background-color: color-complement($color-skobeloff);
        }
        &.triad-1{
            background-color: color-triad-1($color-skobeloff);
        }
        &.triad-2{
            background-color: color-triad-2($color-skobeloff);
        }
    }

    &.baby-powder{
        background-color: $color-baby-powder;
        &.lighten{
            background-color: color-lighten($color-baby-powder);
        }
        &.darken{
            background-color: color-darken($color-baby-powder);
        }
        &.complementary{
            background-color: color-complement($color-baby-powder);
        }
        &.triad-1{
            background-color: color-triad-1($color-baby-powder);
        }
        &.triad-2{
            background-color: color-triad-2($color-baby-powder);
        }
    }

    &.rich-black{
        background-color: $color-rich-black;
        &.lighten{
            background-color: color-lighten($color-rich-black);
        }
        &.darken{
            background-color: color-darken($color-rich-black);
        }
        &.complementary{
            background-color: color-complement($color-rich-black);
        }
        &.triad-1{
            background-color: color-triad-1($color-rich-black);
        }
        &.triad-2{
            background-color: color-triad-2($color-rich-black);
        }
}

&.dark-pastel-red{
    background-color: $color-dark-pastel-red;
    &.lighten{
        background-color: color-lighten($color-dark-pastel-red);
    }
    &.darken{
        background-color: color-darken($color-dark-pastel-red);
    }
    &.complementary{
        background-color: color-complement($color-dark-pastel-red);
    }
    &.triad-1{
        background-color: color-triad-1($color-dark-pastel-red);
    }
    &.triad-2{
        background-color: color-triad-2($color-dark-pastel-red);
    }
}
}

//.container{
//    display: grid;
//    grid-template-columns: 1fr 1fr 1fr;
//    grid-template-rows: 1fr 1fr 1fr;
//
//    > h1{
//        grid-column: 1/3 ;
//        grid-row: 2;
//    }
//
//    > nav {
//        grid-column: 3;
//        grid-row: 1;
//        justify-self: end;
//    }
//}

section.container{
    overflow: hidden;
}

.page-transition-top-wipe{
    position: fixed;
    width: 100%;
    height: 100vh;
    //background-color: map-get($theme-colors, 'background');
    background-color: map-get($theme-colors, 'primary');
    z-index: 1;
    top: -100%;
}

.shape-overlays {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
}

.shape-overlays.is-opened {
    pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
    fill: #000000;
}

.shape-overlays__path:nth-of-type(2) {
    fill: #1d1d1f;
}

.shape-overlays__path:nth-of-type(3) {
    fill: map-get($theme-colors, 'primary');
}
