//define colors here

$color-skobeloff: #197278;
$color-scobeloff-darken-1: darken(#197278, 1%);
$color-scobeloff-darken-5: darken(#197278, 5%);
$color-scobeloff-darken-10: darken(#197278, 10%);
$color-baby-powder: #FBFEF9;
$color-rich-black: #040303;
$color-cambridge-blue: #AAC6A8;
$color-quartz: #4B4747;
$color-dark-pastel-red: #C03221;