@import "../variables";

button#locale-selector{
  position: absolute;
  bottom: $margin-button;
  left: 0;
  right: 0;
  margin: auto;

  background-color: transparent;
  border: none;
  > svg{
    stroke: transparent;
    fill: map-get($theme-colors, 'background');
    transition: all ease-in .2s;
  }

  &:hover{
    svg{
      stroke: transparent;
      fill: map-get($theme-colors, 'dark');
    }
  }
}