@import "../variables";
@import "../_mixings.scss";

nav#socials{
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: $margin-button + 100px;
  background-color: transparent;

  > a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto auto $margin-button;
    @include micro-transition();

    > svg{
      stroke: transparent;
      fill: map-get($theme-colors, 'background');
      @include micro-transition();
    }

    &:hover{
      svg{
        stroke: transparent;
        fill: map-get($theme-colors, 'dark');
      }
    }

    &:active,
    &:focus{
      @include focused();
    }
  }
}
