{% extends 'site.html.twig' %}


{% block body %}

    <main data-barba="wrapper">
        {#    <div class="page-transition-top-wipe"></div>#}
        {% include 'site/home/_page-transition-overlay.svg.twig' %}

        <section class="container" data-barba="container" data-barba-namespace="home">
            <h1>Homepage</h1>

            <nav class="main-nav">
                <a href="{{ url('site-home') }}" data-transition="true" class="current-page">Home</a>
                <a href="{{ url('site-rooms') }}" data-transition="true">Rooms</a>
                <a href="{{ url('site-gallery') }}" data-transition="true">Gallery</a>
                <a href="{{ url('site-surroundings') }}" data-transition="true">Surroundings</a>
            </nav>

            {% include 'site/home/_debug-content.html.twig' %}


        </section>
    </main>

{% endblock %}
