{% extends 'site.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Homepage</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam commodi consectetur consequatur
            dignissimos dolor eaque enim, facere ipsa iste, maiores nesciunt nihil non pariatur quo quod unde, velit
            voluptatem?</p>
    </div>

    <p>
        <div class="square primary"></div>
        <div class="square primary lighten"></div>
        <div class="square primary darken"></div>
        <div class="square primary complementary"></div>
        <div class="square primary triad-1"></div>
        <div class="square primary triad-2"></div>
    </p>

    <p>
        <div class="square skobeloff"></div>
        <div class="square skobeloff lighten"></div>
        <div class="square skobeloff darken"></div>
        <div class="square skobeloff complementary"></div>
        <div class="square skobeloff triad-1"></div>
        <div class="square skobeloff triad-2"></div>
    </p>

    <p>
    <div class="square baby-powder"></div>
    <div class="square baby-powder lighten"></div>
    <div class="square baby-powder darken"></div>
    <div class="square baby-powder complementary"></div>
    <div class="square baby-powder triad-1"></div>
    <div class="square baby-powder triad-2"></div>
    </p>

    <p>
    <div class="square rich-black"></div>
    <div class="square rich-black lighten"></div>
    <div class="square rich-black darken"></div>
    <div class="square rich-black complementary"></div>
    <div class="square rich-black triad-1"></div>
    <div class="square rich-black triad-2"></div>
    </p>

    <p>
    <div class="square dark-pastel-red"></div>
    <div class="square dark-pastel-red lighten"></div>
    <div class="square dark-pastel-red darken"></div>
    <div class="square dark-pastel-red complementary"></div>
    <div class="square dark-pastel-red triad-1"></div>
    <div class="square dark-pastel-red triad-2"></div>
    </p>



{% endblock %}
